.back-button {
  padding: 4px 12px;
  color: whitesmoke;
  background-color: dodgerblue;
  border: none;
  border-radius: 4px;
}

// src/main-view/main-view.scss or src/App.scss

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: #f0ad4e !important; // golden highlight
}
