# Dependencies
node_modules/

# Parcel / build output
dist/
build/

# Parcel caches
.cache/
.parcel-cache/

# Source maps
*.js.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor settings
.vscode/
.idea/
